.action-error,
.action-error-list {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}

.action-error > div:first-child,
.action-error-list > div:first-child {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

.action-error > div:last-child {
	display: block;
	width: 500px;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
	z-index: +1;
}

.action-error > div:last-child > button {
	display: inline-block;
	min-width: 70px;
	padding: 10px;
	margin: 15px 4px 4px 2px;
	background-color: #d22;
	color: #fff;
	border: 1px solid #b22;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color .2s, border-color .2s;
}

.action-error > div:last-child > button:hover {
	background-color: #b22;
	border-color: #b11;
}

.action-error-list > div:last-child {
	display: block;
	width: 650px;
	padding: 6px 0;
	height: 550px;
	background-color: #fff;
	overflow-y: auto;
	box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
	z-index: +1;
}

.action-error-list > div:last-child > div {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #E74C3C;
	color: #fff;
	border: 1px solid #CB4335;
	user-select: text !important;
}