.action-error,
.action-error-list {
	display: flex;
	width: 100%;
	height: calc(100% - var(--topMenuSize));
	justify-content: center;
	align-items: center;
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
	z-index: 9999999999;
}

.action-error > div:first-child,
.action-error-list > div:first-child {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

.action-error > div:last-child {
	display: block;
	width: 500px;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 0 10px 3px rgba(29,131,72,.8);
	z-index: +1;
}

.action-error > div:last-child > p {
	display: block;
	width: 100%;
	margin: 5px auto;
	padding: 10px;
	background-color: #eee;
	border-radius: 3px;
}

.action-error > div:last-child > button {
	display: inline-block;
	min-width: 70px;
	padding: 10px;
	margin: 15px 4px 4px 2px;
	background-color: #d22;
	color: #fff;
	border: 1px solid #b22;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color .2s, border-color .2s;
}

.action-error > div:last-child > button:hover {
	background-color: #b22;
	border-color: #b11;
}

.action-error-list > div:last-child {
	display: block;
	width: 650px;
	padding: 6px 0;
	height: 550px;
	background-color: #fff;
	overflow-y: auto;
	box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
	z-index: +1;
}

.action-error-list > div:last-child > div {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #E74C3C;
	color: #fff;
	border: 1px solid #CB4335;
	user-select: text !important;
}

.action-error-success > div:last-child > div {
	background-color: #229954;
	color: #222;
	border-color: #1E8449;
}

/* Pop Alert */
.pop-alert {
	display: inline-block;
	padding: 10px;
	background-color: transparent;
	color: #222;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 300;
	position: fixed;
	bottom: -42px;
	left: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	transition: bottom .3s;
	z-index: 999999999;
	user-select: none;
}

.pop-alert-primary {
	background-color: #3498DB;
	color: #fff;
	border-color: #2E86C1;
}

.pop-alert-danger {
	background-color: #C0392B;
	color: #fff;
	border-color: #A93226;
}

.pop-alert-warning {
	background-color: #E67E22;
	color: #fff;
	border-color: #CA6F1E;
}

.pop-alert-success {
	background-color: #229954;
	color: #fff;
	border-color: #1E8449;
}

.action-alert {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - var(--topMenuSize));
	background-color: var(--modifier-selected-bg);
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
	z-index: 99999999999999;
}

.action-alert > div {
	display: block;
	width: 500px;
	background-color: var(--secondary-bg);
	padding: 10px;
	box-shadow: 0 4px 8px 0 #000a;
}

.action-alert > div > p {
	display: block;
	width: 100%;
	margin: 5px 0 15px 0;
	padding: 10px;
	background-color: var(--secondary-bg-alt);
	color: var(--primary-header);
	border-radius: 3px;
}

.action-alert > div > div { margin: 5px }

/* Pop Alert */
.pop-alert {
	display: inline-block;
	min-width: 200px;
	padding: 10px;
	background-color: transparent;
	color: #222;
	border-width: 0 0 0 4px;
	border-style: solid;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 300;
	position: fixed;
	bottom: -42px;
	left: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	transition: bottom .3s;
	z-index: 99999999999;
	user-select: none;
}

.pop-alert-primary {
	background-color: #3498DB;
	color: #fff;
	border-color: #2E86C1;
}

.pop-alert-danger {
	background-color: #d34333;
	color: #fff;
	border-color: #a31002;
}

.pop-alert-warning {
	background-color: #E67E22;
	color: #fff;
	border-color: #c45c01;
}

.pop-alert-success {
	background-color: #229954;
	color: #fff;
	border-color: #1E8449;
}

/* Procress Panel */
.procress-panel {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - var(--topMenuSize));
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
}

.procress-panel > div:first-child {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000c;
	position: absolute;
	top: 0;
	left: 0;
}

.procress-panel > button {
	display: none;
	justify-content: center;
	align-items: center;
	width: 23px;
	height: 23px;
	background-color: transparent;
	color: #fff;
	border-radius: 5px;
	font-size: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: background-color .2s;
}

.procress-panel > button:hover { background-color: #fffa }

.procress-panel > div:last-child {
	display: flex;
	flex-flow: row;
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	z-index: +1;
}

.procress-panel > div:last-child > div:first-child {
	display: none;
	flex-flow: column;
	flex: 0 0 30%;
	padding: 7px;
	max-width: 30%;
	height: 100%;
	background-color: #fff;
	border-radius: 5px;
	overflow-y: auto;
	box-shadow: 9px 7px 40px -6px rgba(0,0,0,.25);
}

.procress-panel[mini] > div:last-child > div:first-child {
	display: flex;
	border-right: 1px solid #ddd;
}

.procress-panel > div:last-child > div:last-child {
	display: grid;
	grid-template-rows: 11fr 70px;
	flex: 0 0 100%;
	max-width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 9px 7px 40px -6px rgba(0,0,0,.25);
}

.procress-panel[mini] > div:last-child > div:last-child {
	flex: 0 0 70%;
	max-width: 70%;
	margin-left: 10px;
}

.procress-panel > div:last-child > div:last-child > div:first-child {
	display: block;
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	overflow-y: auto;
}

.procress-panel > div:last-child > div:last-child > div:last-child {
	display: block;
	width: 100%;
}

.procress-panel > div:last-child > div:last-child > div:last-child > p {
	display: block;
	width: 100%;
	padding: 10px;
	color: #222;
	font-size: 15px;
	text-align: center;
}

.procress-panel > div:last-child > div:last-child > div:last-child > div {
	display: block;
	margin: 5px auto;
	width: 90%;
	height: 4px;
	background-color: #eee;
}

.procress-panel > div:last-child > div:last-child > div:last-child > div > div {
	display: block;
	width: 50%;
	height: 100%;
	background-color: #3498DB;
	transition: width .2s;
}

.pp-log {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px;
	margin: 2px 0;
	background-color: transparent;
	color: #222;
	border: 1px solid transparent;
	border-radius: 7px;
	cursor: default;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
	transition: background-color .2s, color .2s;
}

.pp-success {
	background-color: #28B463;
	color: #000;
	border-color: #229954;
}

.pp-danger {
	background-color: #C0392B;
	color: #fff;
	border-color: #A93226;
}

.pp-warning {
	background-color: #ff7b00;
	color: #fff;
	border-color: #E67E22;
}

/* Loading */
.loading {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - var(--topMenuSize));
	background-color: #000d;
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
	z-index: 999999;
}

.loading > p {
	display: block;
	margin-bottom: 15px;
	color: #fff;
	text-align: center;
	font-size: 16px;
}

.loading > div {
	display: block;
	width: 450px;
	height: 4px;
	background-color: #ddd;
}

.loading > div > div {
	display: block;
	width: 0;
	height: 100%;
	background-color: #3498DB;
	transition: width .2s;
}