.action-error,
.action-error-list {
	display: flex;
	width: 100%;
	height: calc(100% - var(--topMenuSize));
	justify-content: center;
	align-items: center;
	position: fixed;
	top: var(--topMenuSize);
	left: 0;
	z-index: 9999999999;
}

.action-error > div:first-child,
.action-error-list > div:first-child {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

.action-error > div:last-child {
	display: block;
	width: 500px;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 0 10px 3px rgba(29,131,72,.8);
	z-index: +1;
}

.action-error > div:last-child > p {
	display: block;
	width: 100%;
	margin: 5px auto;
	padding: 10px;
	background-color: #eee;
	border-radius: 3px;
}

.action-error > div:last-child > button {
	display: inline-block;
	min-width: 70px;
	padding: 10px;
	margin: 15px 4px 4px 2px;
	background-color: #d22;
	color: #fff;
	border: 1px solid #b22;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color .2s, border-color .2s;
}

.action-error > div:last-child > button:hover {
	background-color: #b22;
	border-color: #b11;
}

.action-error-list > div:last-child {
	display: block;
	width: 650px;
	padding: 6px 0;
	height: 550px;
	background-color: #fff;
	overflow-y: auto;
	box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
	z-index: +1;
}

.action-error-list > div:last-child > div {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #E74C3C;
	color: #fff;
	border: 1px solid #CB4335;
	user-select: text !important;
}

.action-error-success > div:last-child > div {
	background-color: #229954;
	color: #222;
	border-color: #1E8449;
}