:root {
	font-family: Tahoma, monospace, sans-serif;
	font-size: 16px;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-button {
	display: none;
	width: 0;
}

::-webkit-scrollbar-track {
	background-color: #111;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
    border: none;
    box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100vh;
	user-select: none;
}

a {
	text-decoration: none;
}

img {
	-webkit-user-drag: none;
}

.main {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 50px 11fr;
}

.main > div:first-child {
	display: block;
	overflow: hidden;
	background-color: #eee;
	box-shadow: 0 0 3rem -2px rgba(0,0,0,0.2);
}

.main > div:last-child {
	display: block;
	overflow-y: auto;
	padding: 10px;
	background-color: #fff;
	z-index: -1;
}

.top-menu {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 3fr 6fr 3fr;
}

.top-menu > div {
	display: flex;
	padding: 5px;
	align-items: center;
}

.btn {
	display: inline-block;
	padding: 10px;
	margin: 2px 4px;
	background-color: transparent;
	border: 1px solid transparent;
	transition: 0.2s;
	color: #222;
	cursor: pointer;
}

.btn-primary {
	background-color: #0af;
	border-color: #0ad;
	color: #fff;
}

.btn-primary:hover {
	background-color: #0ad;
	border-color: #0ac;
	color: #fff;
}

.action-menu {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}

.action-menu > div:first-child {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.action-menu > div:last-child {
	display: block;
	width: 400px;
	height: 100%;
	padding: 10px;
	background-color: #fff;
	border: 0 solid rgb(150,0,150);
	border-width: 0 1px 0 0;
	box-shadow: 0 0 30px 3px rgba(150,0,150,0.5);
	position: absolute;
	direction: rtl;
	top: 0;
	left: -430px;
	overflow-y: auto;
	transition: 0.6s;
}

.action-menu > div:last-child::-webkit-scrollbar-thumb {
	background-color: rgb(150,0,150);
}

.action-menu[active="true"] {
	width: 100%;
}

.action-menu[active="true"] > div:last-child {
	left: 0;
}

.action-menu > div:last-child > button {
	display: block;
	width: 90%;
	padding: 10px;
	margin: 2px auto;
	background-color: transparent;
	color: #0af;
	border: 0 solid #eee;
	border-width: 0 0 1px 0;
	direction: ltr;
	font-size: 1.1rem;
	transition: 0.2s;
	cursor: pointer;
}

.action-menu > div:last-child > button:hover {
	background-color: #eee;
	border-width: 1px;
	transform: scale(1.1);
}

.browser {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	grid-template-rows: 40px 11fr;
}

.browser-tab-container {
	display: flex;
	overflow: hidden;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 -2px 25px 0 rgba(0,0,0,0.3);
}

.borwser-add-tab-btn {
	display: block;
	width: 35px;
	height: 35px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #eee;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
	position: fixed;
	top: 2px;
	right: 10px;
	cursor: pointer;
	transition: .2s;
}

.borwser-add-tab-btn:hover {
	transform: translate(0, -1px);
	box-shadow: 0 10px 10px 1px rgba(0,0,0,0.3);
}

.browser-tab {
	display: flex;
	width: 200px;
	height: 100%;
	padding: 10px;
	position: relative;
	background-color: #eee;
	align-items: center;
	justify-content: center;
	border: 0 solid #ddd;
	border-width: 0 1px 0 0;
	border-radius: 10px 10px 0 0;
	font-size: 0.9rem;
	cursor: pointer;
	transition: 0.2s;
}

.browser-tab:hover,
.browser-tab[active="true"] {
	background-color: #222;
	color: #fff;
	border-color: #000;
}

.browser-tab[active="true"] {
	background-color: #111;
}

.browser-tab > span {
	display: block;
	width: 100%;
	max-width: 100%;
	word-wrap: normal;
	overflow: hidden;
}

.browser-tab > button {
	display: block;
	position: absolute;
	top: 4px;
	right: 6px;
	color: transparent;
	background-color: transparent;
	font-size: 0.9rem;
	font-weight: 600;
	z-index: +1;
	transition: color 0.2s;
}

.browser-tab > button:hover {
	color: #f00;
}

.browser-view {
	display: block;
	overflow-y: auto;
	background-color: #fff;
	z-index: -1;
}

.browser-page {
	display: none;
	width: 100%;
	min-height: 100%;
	height: auto;
	margin: 0 auto;
}

.child-draggable > img {
	-webkit-user-drag: auto;
}

/* Xlecx */
.xlecx-container {
	display: grid;
	grid-template-columns: 3fr 9fr;
	width: 100%;
	min-height: 95vh;
}

.xlecx-container > div:first-child {
	padding: 20px 0;
	background-color: #111;
	overflow: hidden;
	text-align: center;
}

.xlecx-container > div:first-child > button {
	display: block;
	width: 95%;
	padding: 11px;
	margin: 8px auto;
	background-color: #333;
	border: 1px solid #222;
	color: #fff;
	font-family: monospace, sans-serif;
	font-size: 16px;
	cursor: pointer;
}

.xlecx-container > div:first-child > button:hover {
	color: #d20068;
}

.xlecx-container > div:last-child {
	padding: 15px;
	background-color: #222;
	text-align: center;
}

.xlecx-container-one-row {
	display: block;
	width: 100%;
	min-height: 95vh;
	padding: 15px;
	background-color: #222;
}

.xlecx-container-one-row > div {
	display: block;
	width: 95%;
	margin: 0 auto;
	background-color: #333;
	color: #fff;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 40%);
}

.xlecx-post-title {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #282828;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.xlecx-post-tags {
	display: block;
	line-height: 30px;
	padding: 0 10px;
	font: 13px 'Open Sans', Arial, Helvetica, sans-serif;
}

.xlecx-post-tags > button {
	display: inline-block;
	padding: 0 10px;
	margin: 0 0 10px 5px;
	background-color: #222;
	color: #ccc;
	line-height: 30px;
	cursor: pointer;
}

.xlecx-image-container-1x1 {
	display: block;
	padding: 10px;
	margin: 0 10px 10px 10px;
	background-color: #282828;
	text-align: center;
}

.xlecx-image-container-1x1 > img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 10px 0;
}

.xlecx-post-tags > button:hover {
	color: #d20068;
}

.xlecx-post-container {
	display: block;
	width: 100%;
	padding: 15px;
	background-color: #222;
	text-align: center;
}

.xlecx-post-container > div {
	display: inline-block;
	width: 235px;
	padding: 5px;
	margin: 10px 5px;
	background-color: #111;
	position: relative;
	cursor: pointer;
	transition: .2s;
}

.xlecx-post-container > div > img {
	display: block;
	width: 225px;
	height: 315px;
}

.xlecx-post-container > div > span {
	padding: 8px;
	background-color: #111111aa;
	color: #fff;
	border-radius: 50px;
	font-size: 14px;
	position: absolute;
	top: 5px;
	right: 8px;
}

.xlecx-post-container > div > p {
	display: block;
	width: 100%;
	padding: 8px;
	margin: 5px auto 0 auto;
	background-color: #333;
	color: #fff;
	font-size: 16px;
	line-height: 1.4;
}

.xlecx-post-container > div:hover {
	background-color: #a7025b;
}

.xlecx-pagigation {
	display: block;
	width: 100%;
	padding: 20px;
	background-color: transparent;
	text-align: center;
}

.xlecx-pagigation > * {
	display: inline-block;
	min-width: 36px;
	height: 36px;
	margin: 0 3px;
	background-color: #222;
	color: #fff;
}

.xlecx-pagigation > button[disable="true"] {
	background-color: #d20068;
}

.xlecx-pagigation > button:hover {
	background-color: #d20068;
}


/* Error */
.error {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}

.error > div:first-child {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

.error > div:last-child {
	display: block;
	width: 500px;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
	z-index: +1;
}