::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-button {
	display: none;
	width: 0;
}

::-webkit-scrollbar-track {
	background-color: #111;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
}

.action-menu {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}

.action-menu > div:first-child {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.action-menu > div:last-child {
	display: block;
	width: 400px;
	height: 100%;
	padding: 10px;
	background-color: #fff;
	border: 0 solid rgb(150,0,150);
	border-width: 0 1px 0 0;
	box-shadow: 0 0 30px 3px rgba(150,0,150,0.5);
	position: absolute;
	direction: rtl;
	top: 0;
	left: -430px;
	overflow-y: auto;
	transition: 0.6s;
}

.action-menu > div:last-child::-webkit-scrollbar-thumb {
	background-color: rgb(150,0,150);
}

.action-menu[active="true"] {
	width: 100%;
}

.action-menu[active="true"] > div:last-child {
	left: 0;
}

.action-menu > div:last-child > button {
	display: block;
	width: 90%;
	padding: 10px;
	margin: 2px auto;
	background-color: transparent;
	color: #0af;
	border: 0 solid #eee;
	border-width: 0 0 1px 0;
	direction: ltr;
	font-size: 1.1rem;
	transition: 0.2s;
	cursor: pointer;
}

.action-menu > div:last-child > button:hover {
	background-color: #eee;
	border-width: 1px;
	transform: scale(1.1);
}

.browser {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	grid-template-rows: 40px 11fr;
}

.browser-tab-container {
	display: flex;
	overflow: hidden;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 -2px 25px 0 rgba(0,0,0,0.3);
}

.borwser-add-tab-btn {
	display: block;
	width: 35px;
	height: 35px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #eee;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
	position: fixed;
	top: 2px;
	right: 10px;
	cursor: pointer;
	transition: .2s;
}

.borwser-add-tab-btn:hover {
	transform: translate(0, -1px);
	box-shadow: 0 10px 10px 1px rgba(0,0,0,0.3);
}

.browser-tab {
	display: flex;
	width: 200px;
	height: 100%;
	padding: 10px;
	position: relative;
	background-color: #eee;
	align-items: center;
	justify-content: center;
	border: 0 solid #ddd;
	border-width: 0 1px 0 0;
	border-radius: 10px 10px 0 0;
	font-size: 0.9rem;
	cursor: pointer;
	transition: 0.2s;
}

.browser-tab:hover,
.browser-tab[active="true"] {
	background-color: #222;
	color: #fff;
	border-color: #000;
}

.browser-tab[active="true"] {
	background-color: #111;
}

.browser-tab > span {
	display: block;
	width: 100%;
	max-width: 100%;
	word-wrap: normal;
	overflow: hidden;
}

.browser-tab > button {
	display: block;
	position: absolute;
	top: 4px;
	right: 6px;
	color: transparent;
	background-color: transparent;
	font-size: 0.9rem;
	font-weight: 600;
	z-index: +1;
	transition: color 0.2s;
}

.browser-tab > button:hover {
	color: #f00;
}

.browser-view {
	display: block;
	overflow-y: auto;
	background-color: #fff;
	z-index: -1;
}

.browser-page {
	display: none;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/* Error */
.error {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}

.error > div:first-child {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

.error > div:last-child {
	display: block;
	width: 500px;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
	z-index: +1;
}